<div class="w-full h-5/6">
    <div class="grid grid-rows-14 grid-cols-2 grid-flow-col text-center w-full h-full">
        <div class="ml-24">
            <div class="row-start-0 row-end-8 border-solid border-2 border-green-500 bg-green-300 drop-shadow-xl rounded-lg px-8 pt-32 pb-4 m-4 align-text-bottom hover:bg-green-500 hover:scale-105">
                <p>Local & Organic Groceries</p>
            </div>
            <div class="row-start-10 row-end-14 border-solid border-2 border-purple-500 bg-pink-300 drop-shadow-xl rounded-lg px-8 py-4 m-4 items-center hover:bg-puruple-500 hover:scale-105">
                <p>Convenience</p>
            </div>  
        </div>
        <div class="mr-24">
            <div class="row-start-0 row-end-4 border-solid border-2 border-purple-500 bg-pink-300 drop-shadow-xl rounded-lg px-8 py-4 m-4 items-center hover:bg-puruple-500 hover:scale-105">
                <p>Community</p>
            </div>
            <div class="row-start-6 row-end-14 border-solid border-2 border-green-500 bg-green-300 drop-shadow-xl rounded-lg px-8 py-16 m-4 items-center hover:bg-green-500 hover:scale-105">
                <p>Sustainability</p>
            </div>
        </div>
    </div>
</div>